#mainForm{
    margin-left: 25%;
    width: 50%;
    text-align: left;
}

.timer{
    float:right;
}

.hide{
    display: none;
    
}

div#startScreen{
    background: pink;
}

div#questions{
    background: #ffd3b6;
}

#feedback {
    border-top: double;
}

